body {
  margin: 0px;
}
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide li {
  width: 80vw;
  flex-shrink: 0;
  max-width: 800px;
  margin: 0 20px;
}

.slide {
  transform: translate3d(-1600.5px, 0, 0)
}

